[run]
omit = 
  eeg_win_stack/*setup_package*
  eeg_win_stack/version*
  eeg_win_stack/_dev/*
  */eeg_win_stack/_dev/*
  *conftest*
disable_warnings =
  module-not-measured

[report]
exculde_lines = 
  pragma: no cover
  pragma: py{ignore_python_version}
  except ImportError
  raise AssertionError
  raise NotImplementedError
